fractalcells: {
    url: "http://pkg.fractalcells.com/packages/",
    enabled: true,
    priority: 10
}

localcells: {
    url: "http://pkg.{{ external_domain }}/packages/",
    enabled: true,
    priority: 20
}

